<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/PAGINA/Peluquera/css/inicio.css">
	<script src="https://kit.fontawesome.com/6adaba3b1c.js" crossorigin="anonymous"></script>

	<title>Administrador</title>
</head>
<body>



	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Domiciliario</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="/PAGINA/Peluquera/inicio.html">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Inicio</span>
				</a>
			</li>
			<li>
					<a href="/PAGINA/Peluquera/crud.html">
					<i class='bx bxs-paste' ></i>
				<span class="text">Perritos</span>
			</a>
			</li>

			<li>
				<a href="/PAGINA/Peluquera/citas.html">
					<i class="fa-solid fa-handshake" style=" margin-left: 14px; margin-right: 14px"></i>
					<span class="text">Citas</span>
				</a>
			</li>
			<li>
				<a href="/PAGINA/Peluquera/Ventas.html">
					<i class="fa-solid fa-dollar-sign" style="margin-left: 14px; margin-right: 16px;"></i>
					<span class="text">Ver Ventas</span>
				</a>
			</li>
			<li>
						<a href="chatt.html">
							<i class="fa-brands fa-rocketchat" style=" margin-left: 14px; margin-right: 14px"></i>
							<span class="text">Chat</span>
						</a>
					</li>
			<li>
				<a href="/PAGINA/Peluquera/Comentarios.html">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Comentarios</span>
				</a>
			</li>
			<li >
				<a href="/PAGINA/Peluquera/Ajustes.html">
					<i class='bx bxs-cog' ></i>
					<span class="text">Ajustes</span>
				</a>
			</li>
			<li>
				 <a href="/logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Cerrar sesion</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categorias</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a class="nav-link"href="/envio-correo">
										<i class='bx bxs-envelope'></i>
									</a>
			<a href="#" class="profile">
				<img src="/PAGINA/Peluquera/img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Tareas Diarias </h1>
					<ul class="breadcrumb">
						<li>
							<a href="#"><h4>Name: [[${user.name}]]</h4>
							    <h4>Email: [[${user.email}]]</h4>
							    <h4>Mob No: [[${user.mobileNo}]]</h4>
							    <h4>Role: [[${user.role}]]</h4></a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Inicio</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Descargar PDF</span>
				</a>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3>1020</h3>
						<p>Pedidos entregados</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>2834</h3>
						<p>Usuarios nuevos</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<h3>$2543</h3>
						<p>Total ventas</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Usuarios Nuevos</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Clientes</th>
								<th>Fecha de Compra</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="/PAGINA/Peluquera/img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completado</span></td>
							</tr>
							<tr>
								<td>
									<img src="/PAGINA/Peluquera/img/people.png">
									<p>Ana Hernandez</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pendiente</span></td>
							</tr>
							<tr>
								<td>
									<img src="/PAGINA/Peluquera/img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status process">En Proceso</span></td>
							</tr>
							<tr>
								<td>
									<img src="/PAGINA/Peluquera/img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pendiente</span></td>
							</tr>
							<tr>
								<td>
									<img src="/PAGINA/Peluquera/img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completado</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="todo">
					<div class="head">
						<h3>Notificaciones</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<script src="/PAGINA/Peluquera/js/script.js"></script>
</body>
</html>
	
